@import "~bootstrap/scss/bootstrap";
@import "~datatables/media/css/jquery.dataTables.min.css";
@import "~bootstrap-slider/dist/css/bootstrap-slider.min.css";


img.colored{
  background-color: darkcyan;
  display: flex;
}

.box {
  position: relative;
  background: black;
  color: white;
  height: 50vh;
  border:1px solid red;
}
.box-top {
  background: white;
  color: black;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

.slider {
  width: 100% !important;
}
